<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
</head>

<body>
    <div id="my_app"> CHARGEMENT EN COURS ... </div>
</body>
<!-- DOWNLOADING FONT AWAESOME LIB  -->
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">


<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.8/firebase-app.js";
    import { getDatabase, onValue, ref, set } from "https://www.gstatic.com/firebasejs/9.6.8/firebase-database.js";
    window.firebase = {
        initializeApp,
        getDatabase,
        onValue,
        ref,
        set
    };
</script>
<script defer src="{{ url_for('static', filename='app.js') }}"></script>
</html>